.features {
    width: 100%;
    padding: 120px 0;
}

.features .list .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.features .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features .list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.features .container {
    gap: 24px;
}

.features .list-item {
    width: calc((100% - 72px) / 4);
}

.features .icon.soc-icon {
    display: flex;
    width: auto;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    color: #4d5ae5;
    align-items: center;
    justify-content: center;
}