.hero {
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #2e2f42;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 188px 15px;
    background-image:
     linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
     url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
}

.hero .button:focus,
.hero .button:hover {
    background-color: #404bbf;
}

.hero .list .seсtion-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.hero .list .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.page-title {
    margin-bottom: 48px;
    max-width: 496px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient();
}