.team .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team {
    background-color: #f4f4fd;
    width: 100%;
    padding: 120px 0;
}

.team .list-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 1px 6px rgba(46, 47, 66, 0.08);
}

.team .list-item:hover {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 1px 6px rgba(46, 47, 66, 0.08);
}

.team .list {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-left: 0;
}

.team-content-wrapper {
    padding: 32px 16px;
}

.team .img {
    display: block;
}

.team-soc-link {
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms ease;
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #404bbf;
}

.team .icon {
    height: 16px;
    width: 16px;
    color: #f4f4fd;
}

.team .team-soc-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

